input {
    outline: none;
}
.subscribe {
    width: 100%;
    height: 438px;
    background-image: linear-gradient( rgba(255, 255, 255, 0.7), rgba(248, 248, 248, 0.7) ), url('./../images/subscribe/Layer_41.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80px;
    display: flex;
}


.subscribe_left {
    display: flex;
    width: 49.5%;
    justify-content: center;
    align-items: center;
}

.subscribe_left_statement {
    width: 386px;
    height: 68px;
    color: #222224;
    font-family: Lato;
    font-size: 16px;
    font-style: italic !important;
    letter-spacing: normal;
    line-height: 26px !important;
    text-align: left;
    letter-spacing: 0.4px;
    line-height: normal;
}

.subscribe_left_name {
    /* Style for "Bin Burhan" */
width: 82px;
height: 27px;
color: #f16d7f;
font-family: Lato;
font-size: 16px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: left;
}

.subscribe_left_name2 {
    color: #222224;
    font-family: "Lato Light";
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.3px;
    line-height: 14px;
}

.subscribe_statement_container {
    margin-left: 30px;
}

.subscribe_right {
    display: flex;
    width: 49.5%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.subscribe_right_text {
    text-align: center;
}

.subscribe_right_text1 {
    width: 277px;
    height: 41px;
    color: #222224;
    font-family: Lato;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
}

.subscribe_right_text2 {
    font-style: normal;
    line-height: 24px; 
}

.subscribe_right_email {
    width: 334px;
    height: 46px;
    background-color: #e1e1e1;
    border: none;
    border-radius: 23px 0 0 23px;
    padding-left: 13px;
 }

.subscribe_right_input_subscribe {
    width: 104px;
    height: 46px;
    border-radius: 0 23px 23px 0;
    background-color: #f16d7f;
    border: none;
    margin-left: -4px;
    color: white;
}

.subscribe_right_input {
    margin-top: 20px;
}




