.subscribe_footer_photo {
    width: 100%;
    height: 438px;
    background-image: url('./../images/subscribe/Layer_41.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80px;
}

.subscribe_footer {

}