.container {
    width: 1140px;
    margin: 0 auto;
}

.menu {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.menu-link {
    text-decoration: none;
    display: block;
    padding: 20px 25px;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.menu-link-box {
    display: flex;
    position: absolute;
    background-color: white;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    top: 70px;
    padding: 20px;
    z-index: 1;
}

.menu-link-box-revert {
    display: flex;
    position: absolute;
    background-color: white;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    top: 70px;
    padding: 20px;
    z-index: 1;
    right: 50px;
}

.navigation_link .hides{

    visibility: hidden;
}

.navigation_link:hover .hides{

        visibility: visible;
}

.menu-link-box-list {
    background-color: #ffffff;
    margin-right: 40px;
    width: 200px;
}

.menu-link-box-list a {
    color: #646464;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.35px;
}

.menu-link-box-list h3 {
    font-family: Lato;
    font-size: 15px;
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 8px;
    font-weight: 400;
}

.menu-link-box-image {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.menu-link-sale-image {
    position: relative;
    margin-top: 15px;
    margin-left: -20px;
}

.sale_link {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all .5s;
}

.menu-sale-link {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 0.55px;
}

.container-foote li, a {
    list-style: none;
    font-family: 'Lato', sans-serif;
    color: #898989;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    text-decoration: none;
}

.menu li {
    position: relative;
    list-style-type: none;
}

.menu {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.menu-link-box:before {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    transform: rotate(45deg);
    top: -5px;
    left: 40px;
    border-top: #e8e8e8 1px solid;
    border-left: #e8e8e8 1px solid;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

div {
    display: block;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
    color: #222222;
}

a:-webkit-any-link:hover {
    color: #f16d7f;
}

li {
    text-align: -webkit-match-parent;
}