.middle-menu-link {
    color: #ef5b70 !important;
    border-left: 3px solid #ef5b70;
    padding-bottom: 6px;
    padding-right: 200px;
    padding-left: 5px;
    font-family: Lato;
    font-weight: 700;
    text-transform: uppercase;
}

.arrow-activited {
    color: #ef5b70;
}

.middle-left {
    margin-right: 30px;
}

ul { 
    list-style: none; 
}

.middle {
    display: flex;
    margin-top: 50px;
}

.middle-right {
    width: 100%;
}

.middle-right-filter {
    display: flex;
    justify-content: space-between;
}

.middle-left-link-box-list-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    margin-top: 10px;
}

.middle-right-filter-description h6 {
    height: 10px;
    color: #6f6e6e;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    margin-top: 22px;
}

.middle-right-filter-description p {
    width: 176px;
    height: 39px;
    color: #6f6e6e;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;
    text-align: left;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    margin-top: 30px;
 }
 
.middle-right-filter-description span {
    color: #dfdfdf;
    margin-left: 5px;
    margin-right: 10px;
}

.checkboxtext {
    width: 16px;
    height: 10px;
    color: #6f6e6e !important; 
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
}

.checkbox-checkboxtext {
    margin-top: 25px;
}

.price-progress {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.price-progress span {
    color: #6f6e6e;
}
